<%= stylesheet_link_tag 'edit', media: 'all'%>
<h1>Editing Book</h1>

<%= form_with model: @list, url: "/books/#{@list.id}", method: :patch do |f| %>
  <div class="filed">
    <p>Title</p>
    <%= f.text_field:title %>
  </div>
  <div class="filed">
    <p>Body</p>
    <%= f.text_area :body %>
  </div>
  <div class="update_buttom">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<span><%= link_to "Show", "/books/#{@list.id}" %></span>
<span> | </span>
<span><%= link_to "Back", "/books" %></span>
