<%= stylesheet_link_tag 'edit', media: 'all'%>
<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <div class = 'errors-content'>
    <h2 class='errors-value'><%= @book.errors.count %> error prohibited this book from being saved:</h2>
    <div class='errors-text'>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_with model: @book, url: "/books/#{@book.id}", method: :patch do |f| %>
  <div class="filed">
    <p>Title</p>
    <%= f.text_field:title %>
  </div>
  <div class="filed">
    <p>Body</p>
    <%= f.text_area :body %>
  </div>
  <div class="update_buttom">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<span><%= link_to "Show", "/books/#{@book.id}" %></span>
<span> | </span>
<span><%= link_to "Back", "/books" %></span>
