<%= stylesheet_link_tag 'show', media: 'all'%>
<p><strong>Title: </strong><%= @list.title %></p>
<p><strong>Body: </strong><%= @list.body %></p>
<span><%= link_to "Edit", "/books/#{@list.id}/edit" %></span>
<span> | </span>
<span><%= link_to "Back", "/books" %></span>
